@import url(https://fonts.googleapis.com/css?family=Bitter:400,400i&subset=latin-ext);
#app[data-v-13f42c2f] {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  margin-top: 30px;
}
a[data-v-13f42c2f] {
  color: black;
  text-decoration: none;
}

















































html, body {
  margin:0;
  padding:0;
  overflow:hidden;
}
svg {
    position:fixed; top:0; left:0; height:100%; width:100%;
    background-color: #5E4FA2;
    cursor: default;
}
#map
{
  width: 1280px;
  height: 960px;
}
.terrs {
    stroke-width: 0.67px;
    stroke-linejoin: round;
    stroke-linecap: round;
    filter: saturate(0.8) contrast(1.1);
}
.areas {
    stroke-width: 0.67px;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 0.8;
}
.rivers {
    fill: none;
    stroke: #4D83AE;
    stroke-width: 0.4px;
    stroke-linecap: round;
}
.coastline {
    stroke-width: 0.74px;
    stroke: rgb(86, 86, 109);
    stroke-linecap: round;
}
.burgs {
    stroke-width: 0.2px;
    opacity: 0.8;
    font-family: verdana;
    font-size: 2px;
    text-anchor: middle;
    cursor: pointer;
}
.capital {
    fill: white;
    stroke: black;
    opacity: 0.8;
}
.manor {
    stroke: none;
    fill: black;
    opacity: 0.8;
}
.capital:hover,
.manor:hover {
    stroke: blue;
    cursor: pointer;
}
.names {
    font-family: 'Bitter', verdana;
    text-anchor: middle;
    fill: #3e3e4b;
    text-shadow: 0 0 6px white;
}
.active {
    text-shadow: 0 0 6px red;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.borders {
    stroke-width: 0.72px;
    stroke: rgb(86, 86, 109);
    stroke-dasharray: 0.5, 0.5;
    stroke-linecap: butt;
}
.hills {
    stroke-width: 0.1px;
    fill: #999999;
}
.mounts {
    stroke-width: 0.1px;
    fill: white;
}
.strokes {
    stroke-width: 0.08px;
    width: 2px;
    stroke: #5c5c70;
    stroke-dasharray: 0.5, 0.7;
    stroke-linecap: round;
}
.swamps {
    stroke-width: 0.05px;
    fill: none;
    stroke: #5c5c70;
}
.forests {
    stroke-width: 0.1px;
    stroke: #5c5c70;
}
#options {
    position: absolute;
    background-color: white;
    border: solid 1px #5e4fa2;
    border-radius: 0 0 20px 0;
    padding: 0 0 5px 5px;
}
.hexagon {
  fill: transparent;
  pointer-events: all;
}
.hexagon path {
  transition: fill 250ms linear;
}
.hexagon :hover {
  fill: pink;
}
.hexagon .fill {
  fill: pink;
}
.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  pointer-events: none;
}
.border {
  fill: none;
  stroke: #555;
  stroke-width: 3px;
  pointer-events: none;
}

h1[data-v-1923a30a], h2[data-v-1923a30a] {
  font-weight: normal;
}
ul[data-v-1923a30a] {
  /*list-style-type: none;*/
  padding: 0;
  margin: auto;
  width: 300px;
}
li[data-v-1923a30a] {
  /*display: inline-block;*/
  margin: 0 0px;
  list-style: decimal
}
a[data-v-1923a30a] {
  color: blue;
  display: block;
  text-decoration: none;
  text-align: left;
}
a[data-v-1923a30a]:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=app.64d1c06edf4c95f1044468d8c26a601e.css.map*/